/.bundle/
/.yardoc
/_yardoc/
/coverage/
/data/
/doc/
/pkg/
/spec/reports/
/tmp/
*.env*

# rspec failure tracking
.rspec_status

# Configs need to be *.example.yml
**/config/**
!**/config/**/*.example.yml
